exercícios
build
program
*.tar.gz
trabalho-02/src/__pycache__/cria_pessoas.cpython-311.pyc
trabalho-02/src/__pycache__/entrada.cpython-311.pyc
trabalho-02/src/__pycache__/ixphere.cpython-311.pyc
trabalho-02/src/__pycache__/pessoa.cpython-311.pyc
trabalho-02/src/__pycache__/variaveis_globais.cpython-311.pyc
